@charset"UTF-8";
@import"Compass";
@import"breakpoint";

@import 'normalize-version';
@import 'normalize/html5';
@import 'normalize/base';
@import 'normalize/links';
// @import 'normalize/typography';
@import 'normalize/embeds';
@import 'normalize/groups';
@import 'normalize/forms';
@import 'normalize/tables';

$gutter-width: 40px;
$grid-sum: 12;

$grid-breakpoints: (
	"": false,
	xs: 360px,
	sm: 414px,
	md: 768px,
	lg: 1024px,
	xl: 1440px,
);

$aligns: left, center, right;
$weights: 100, 300, 400, 500, 500;
$displays: block, inline-block, none, flex;
$spacies: (
	"0": 0px,
	"10": 10px,
	"15": 15px,
	"20": 20px,
	"30": 30px,
	"40": 40px,
	"50": 50px,
	"60": 60px,
	"auto": auto,
);
$property: "m", "p";
$sides: "", "t", "b", "l", "r", "x", "y";

@mixin list($margin, $padding, $style) {
    margin: $margin;
    padding: $padding;
    list-style: $style;
}

@mixin beforeafter($content, $display) {
    content: $content;
    display: $display;
}

@mixin clear() {
    @include beforeafter('', table);
    clear: both;
}

@mixin lineclamp($line) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin button($defaultColor, $hoverColor) {
    display: inline-block;
    // padding-top: 3px;
    min-width: 140px;
    color: $defaultColor;
    font-size: 0.875rem;
    line-height: 2.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid $defaultColor;
    cursor: pointer;
    &:hover, &:active, &.active, &:focus {
        color: $hoverColor;
        background-color: $defaultColor;
    }
    @include breakpoint(1024px) {
        min-width: 150px;
    }
}

@mixin imghover() {
    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include beforeafter('', block);
        background-color: rgba($black, 0.5);
        background-image: -webkit-radial-gradient(center center, closest-side ellipse, rgba(255, 255, 255, .1) 30%, rgba(0, 0, 0, .4) 130%);
        @include opacity(0);
        @include transition(opacity 0.3s);
    }
}