//
$container: 1170px;
$init: 0.0625rem;   //1px

//
$h1: $init*48;      //48px
$h2: $init*32;      //32px
$h3: $init*28;      //27px
$h4: $init*22;      //21px
$h5: $init*18;      //18px
$h6: $init*16;      //16px

//
$h1-m: $init*48;    //48px
$h2-m: $init*32;    //32px
$h3-m: $init*27;    //27px
$h4-m: $init*22;    //21px
$h5-m: $init*18;    //18px
$h6-m: $init*16;    //16px

//
$white:         #fff !default; //background
$gray-100:      #EEEEEE !default;
$gray-200:      #D9D9D9 !default;
$gray-300:      #7F7F7F !default;
$gray-400:      #393939 !default;
$gray-500:      #2C2C2C !default;
$black:         #000 !default;

//
$blue-lighten:  #597FA8;
$blue-default:  #19304F;
$red-default:   #B70000;

//
$primary: $blue-default !default;
$primary-variant: $blue-lighten !default;

//
$facebook:      #1877f2 !default;
$line:          #00c200 !default;
$instagram:     #dd2a7b !default;
$weibo:         #e6162d !default;
$rss:           #ff5700 !default;
$twitter:       #00acee !default;
$whatapp:       #4fce5d !default;
