@import "_mixin";
@import "_variable";
@import "_common";

@mixin fs18 {
    font-size: $init * 14;
    @media screen and (min-width: 1024px) {
        font-size: $init * 18;
    }
}
@mixin fs24 {
    font-size: $init * 18;
    @media screen and (min-width: 1024px) {
        font-size: $init * 24;
    }
}
@mixin fs28 {
    font-size: $init * 22;
    @media screen and (min-width: 1024px) {
        font-size: $init * 28;
    }
}

.align-items-center {
    align-items: center
}
.justify-space-between {
    justify-content: space-between
}
.justify-content-center {
    justify-content: center
}

@import "_container";
@import "_typography";
@import "_colors";
@import "_font";
@import "_button";
@import "_embed";
@import "_navigation";
@import "_footer";
@import "_breadcrumb";
@import "_jumbotron";

a.gotop {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $primary;
    border-radius: 50%;
    z-index: 2;
    @media screen and (max-width: 767px) {
        bottom: 20px;
        right: 20px;
        width: $init * 40;
        height: $init * 40;
    }
    @media screen and (min-width: 768px) {
        bottom: 50px;
        right: 50px;
        width: $init * 70;
        height: $init * 70;
    }
    i.icon {
        display: block;
        transform: rotate(180deg);
    }
}

.fs-24 {
    @include fs24();
}
.fs-28 {
    @include fs28();
}

.color-primary {
    a.btn-link {
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    position: relative;
    > .main-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100px;
            @include background-image(linear-gradient(top, rgba($white,1) 0%,rgba($white,0) 100%));
        }
        img {
            display: block;
            width: 100%;
        }
    }
    h2 {
        @media screen and (min-width: 768px) {
            display: none !important;
        }
        > * {
            vertical-align: middle;
            @include fs28();
        }
    }
    h3 {
        line-height: 1;
        @include fs28();
        > * {
            vertical-align: middle;
        }
        i.icon-cargoship {
            @media screen and (min-width: 768px) {
                display: none !important;
            }
        }
        span.bg-red {
            width: 100px;
            height: 5px;
        }
    }
}

.navbar-display {
    @media screen and (max-width: 767px) {
        display: block !important;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

ol {
    &.customized-ol {
        @include list(0, 0, none);
        li {
            display: flex;
            // align-items: center;
            line-height: 1.25;
            + li {
                margin-top: 20px;
            }
            span {
                &.number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: $init * 27;
                    height: $init * 27;
                    margin-right: 20px;
                    color: $white;
                    background-color: $blue-light;
                    border-radius: 50%;
                    @include fs18();
                }
                &.text {
                    width: calc(100% - 20px - #{$init*27});
                }
            }
        }
    }
}

table {
    tr {
        + tr {
            border-top: 1px solid $primary;
        }
    }
    th {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        @include fs28();
        @media screen and (min-width: 1024px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        @include fs24();
        @media screen and (min-width: 1024px) {
            padding-left: 30px;
            padding-right: 30px;
        }
        &:nth-child(1) {
            @include fs28();
            text-align: center;
            @media screen and (max-width: 1023px) {
                min-width: calc(4em + 40px);
            }
            @media screen and (min-width: 1024px) {
                width: 280px;
            }
        }
    }
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1.5em;
    }
}
